.cabecalho {
    background-color: white;
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: blue;
    padding: 100px;
}

.section2 {
    background-color: yellow;
    padding: 100px;
}

.cabecalho-image {
    width: 15%;
}