.corpodosite{
    color: black;
}

.cabecalho {
    background-image: linear-gradient(white,rgb(0, 170, 255));
    color: black;
    display: flex;
    padding: 24px 0;
    font-size: large;
}

.section1 {
    background-image: linear-gradient(rgb(0, 170, 255),rgb(6, 163, 191));
    padding: 100px;
}

.section2 {
    background-image: linear-gradient(rgb(6, 163, 191),rgb(0, 59, 207));
    padding: 100px;
}

.cabecalho-image {
    width: 5%;
}

.rodape {
    background-image: linear-gradient(rgb(0, 59, 207),blue);
    padding: 100px;
}

.bakkeslogo {
    width: 5%;
}